header {
    background-color: rgb(199, 199, 199);
}

footer {
    background-color: rgb(199, 199, 199);
    padding:10px;
    margin-top:auto;
}   

.hide {
    visibility:hidden;
    /* display: none; !important */
}

.show {
    visibility:visible;
    /* display: block; */
}

h1 {
    padding: 10px;
    margin:0px;
}

body {
    background-color:rgb(250, 250, 250);
    display:flex;
    flex-direction:column;
    /* justify-content:space-between; */
    
    height: 100dvh;
    
    text-align:center;
    font-family: roboto;
    margin:0px;
    padding:0px;
}

footer {
    justify-self:flex-end;
}

footer > a {
    color:grey;
}

button {
    font-family: 'roboto';
    border-radius:5px;
    padding:10px;
}

button#rock {
    color:red;
}

button#paper {
    color:green;
}

button#scissors {
    color:blue;
}

#choiceContainer { 
    display:flex;
    justify-content: center;
    gap: 20px;
}

h2 {
    font-size: 48px;
}